* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    color: #053C5E;
}

body {
    background-color: #ffffff;
}

h1 {
    color: #053C5E;
    font-size: 4.5rem;
    text-shadow: 0px 3px 5px #0000005e;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
    margin: 0.5px 0;
    min-width: 258px;
    text-align: left;
    padding: 5px;
  } 

th {
    background-color: #BFDBF7;
    color: #053C5E;
    text-align: center;
    font-weight: bold;
    font-size: 0.65cm;
  } 

td {
    padding: 15px;
  } 
  
td:hover {
    background-color: #BFDBF7
  }

.link {
  text-align: center;
  color: #053C5E;
}

.au-btn {
  background-color: #053C5E;
  width: 120px;
  font-size: 1.5rem;
}

input {
  height: 35px;
}