* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body {
    background-color: #BFDBF7;
}

.main-container {
    max-width: 500px; 
    width: 60vw;
    min-width: 280px;
    height: 100vh;
}

.login-form {
    max-width: 500px; 
    width: 60vw;
    min-width: 280px;
    height: auto;
}

.sam-title {
    color: #1F7A8C;
    font-size: 4.5rem;
    text-shadow: 0px 3px 5px #0000005e;
}

.admin-login {
    color: #A31621;
    font-size: 2.5rem;
    margin-top: -20px;
}

.login-button {
    background-color: #053C5E;
    width: 60px;
}

input {
    height: 35px;
}