* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

.content-wrapper {
    background-color: #ffffff!important;
}

.pw{
    color: #053C5E;
}

.change-label, .desc{
    color: #053C5E;
    text-shadow: 0px 3px 5px #0000005e;
}

.save-button {
    background-color: #053C5E;
    width: 120px;
    font-size: 1rem;
}

input {
    height: 35px;
}

input[type=submit] {
    height: 45px;
}

#password, #npassword, #rpassword {
    box-shadow: 0px 2px 5px #0000005e;
}