* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body{
    background-color:  #053C5E;
}

.main-container {
    max-width: 600px; 
    width: 60vw;
    min-width: 280px;
    height: 100vh;
}

.signup-form {
    background-color: #BFDBF7;
    max-width: 600px; 
    width: 60vw;
    min-width: 280px;
    height: auto;
}

.description, .mamamayan-signup {
    color: #1F7A8C;
}

.description {
    font-size: 1.1rem;
}

.sam-title, .login-button, .sign-in, .tnc {
    color: #053C5E;
}

.sam-title {
    text-shadow: 0px 3px 3px #0000005e;
    font-size: 2rem;
}

.mamamayan-signup {
    font-size: 1.6rem;
    margin-top: -10px;
}

.login-button {
    background-color: #053C5E;
    width: 120px;
    font-size: 1rem;
}

input {
    height: 25px;
}

#f-name, #md-name, #l-name, #email, #password, #rpassword, #birthdate, #address {
    box-shadow: 0px 2px 4px #0000005e;
}

.login-account, .sign-in {
    font-size: 1.1rem;
}

