* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

html, body {
    overflow: auto;
    height: 100%!important;
}

body {
    background-color: #bfdbf7!important;
}

.chat {
    margin: auto;
    max-width: 60rem!important;
}

.card-body, .direct-chat-messages{
    height: 30rem!important;
}
